.sections-tab {
  background-color: white;
  border-radius: 15px;
  padding: 0;
  .nav {
    .nav-item {
      padding: 10px;
      cursor: pointer;
    }
    .nav-item.active {
      background: linear-gradient(
        97.41deg,
        #fef0ec -0.75%,
        #eef4f3 45.79%,
        #f5f2f0 96.95%
      );
      .nav-link {
        //color: rgba(60, 55, 91, 1);
        color: var(--primaryColor);
      }
    }
    .nav-link {
      color: rgba(60, 55, 91, 0.5);
      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}

.form-column {
  padding: 0 8vw;
  h3 {
    padding: 20px 0;
  }
}

.react-tel-input .form-control {
  border: none !important;
}
.invalid-feedback {
  display: block !important;
  color: #ea868f;
  display: none;
  font-size: 0.875em;
  margin-top: 0.25rem;
  width: 100%;
}

.highlightOption {
  background-color: var(--primaryColor) !important;
  color: rgba(60, 55, 91, 0.5);
}
.multiSelectContainer li {
  margin-left: 0;
}

.multiSelectContainer li:hover {
  background-color: var(--primaryColor) !important;
}

.multiSelectContainer .chip {
  background-color: var(--primaryColor) !important;
}

.alert-danger.profile-alert {
  width: auto;
  max-width: none !important;
  margin-top: 20px;
}
.react-dropdown-select {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

.react-dropdown-select-item:hover,
.css-z2hyoe-ItemComponent.react-dropdown-select-item-selected {
  background-color: var(--primaryColor) !important;
  color: white !important;
}
.add-section {
  text-align: right;
}
.add-section .plus.fea {
  color: var(--primaryColor);
  cursor: pointer;
}

.data-list {
  padding-top: 15px;
}
.data-list .data p:not(:first-child) {
  margin-bottom: 0;
  font-size: 14px;
  color: rgba(60, 55, 91, 0.5);
}
.action-section {
  text-align: right;
}
.action-section .icon {
  color: rgba(60, 55, 91, 0.5);
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.action-section .icon:hover {
  color: var(--primaryColor);
}
.form-action {
  text-align: right;
  margin-top: 20px;
}
.underline-button {
  background: transparent;
  text-decoration: underline;
  color: var(--primaryColor);
  border: none;
  cursor: pointer;
}
.card {
  margin-bottom: 20px;
}
.action {
  text-align: center;
  margin-top: 20px;
}
.action .underline-button {
  font-size: 20px;
  font-weight: bold;
}

.react-date-picker {
  width: 100%;
  border: 1px solid #f1f5f9;
  font-size: 15px;
  line-height: 34px;
  background-color: #ffffff;
  border-radius: 6px;
  font-weight: 500 !important;
  color: #1e293b !important;
  padding: 0.07rem 0.4rem;
  .react-date-picker__wrapper {
    border: none;
  }
}
